<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comments">
	
	<select id="selectCommentsList" parameterType="java.lang.Integer" resultType="sharecode.vo.CommentsVO">
		SELECT COM_NO, POST_NO, C.USER_NO, USER_ID, COM_CONTENT, COM_PNUM, COM_JOB, COM_DATE
		FROM COMMENTS C, USERINFO U
		WHERE C.USER_NO = U.USER_NO
		AND POST_NO=#{post_no}
	</select>
	
	<insert id="insertCommentsInfo" parameterType="sharecode.vo.CommentsVO">
		<selectKey keyProperty="com_no" resultType="int" order="BEFORE">
			SELECT COMMENTS_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO COMMENTS
		values(#{com_no},#{post_no},#{user_no},#{com_content},#{com_no},#{com_job},SYSDATE)
	</insert>
	
</mapper>