<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">

	<insert id="insertPost" parameterType="sharecode.vo.PostVO">
		<selectKey keyProperty="post_no" resultType="int" order="BEFORE">
			SELECT POST_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO POST 
		(POST_NO, USER_NO, POST_TITLE, POST_CONTENT, POST_CATEGORY, POST_HIT, POST_DATE)
		VALUES(#{post_no}, #{user_no}, #{post_title}, #{post_content}, #{post_category},0,SYSDATE)
	</insert>
	
	<select id="selectPostInfo" parameterType="java.lang.Integer" resultType="sharecode.vo.PostVO">
		SELECT POST_NO, P.USER_NO, USER_ID, POST_TITLE, POST_CONTENT, POST_CATEGORY, POST_HIT, POST_DATE
		FROM POST P, USERINFO U
		WHERE P.USER_NO=U.USER_NO
		AND POST_NO=#{post_no}
	</select>
	
	<update id="updatePostHit" parameterType="java.lang.Integer">
		UPDATE POST SET POST_HIT=POST_HIT+1
		WHERE POST_NO=#{post_no}
	</update>
	
	<update id="updatePostInfo" parameterType="sharecode.vo.PostVO">
		UPDATE POST SET POST_TITLE=#{post_title},POST_CONTENT=#{post_content},POST_CATEGORY=#{post_category}
		WHERE POST_NO=#{post_no}
	</update>
	
	<select id="selectLangCategory" parameterType="String" resultType="sharecode.vo.PostVO"> <!--카테고리찾기  -->
		SELECT
		POST_NO,USER_NO,POST_TITLE,POST_CONTENT,POST_CATEGORY,POST_HIT,POST_DATE
		FROM POST
		WHERE POST_CATEGORY= #{value}
	</select>
	
	<delete id="deletePost" parameterType="java.lang.Integer">
		DELETE FROM POST
		WHERE
		POST_NO=#{post_no}
	</delete>
 
</mapper>